<!-- -->

<div>

  <h5 class="md-display-1 text-center">Explore</h5>

  <md-button
    layout="column"
    ui-sref="category({Slug: cate.slug})"
    aria-label="{{cate.name}}"
    ng-repeat="cate in dashboardCtrl.categories | orderBy: '-slug' "
    class="md-fab">
    <i class="ion-ios-football"></i>
    {{cate.name}}
  </md-button>
  <br>


  <!--<md-grid-list
    md-cols-sm="5"
    md-cols-md="5"
    md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile ng-repeat="category in dashboardCtrl.topics | orderBy: '-slug' ">
      <a ui-sref="topics({topicSlug: category.slug})">
      {{category.name}}
      </a>
    </md-grid-tile>
  </md-grid-list>-->

</div>
