<md-card class="md-margin">

  <div ng-show="authCtrl.error" class="md-padding">
    <span>{{ authCtrl.error.message }}</span>
  </div>

  <form ng-submit="authCtrl.login()" class="md-padding">

    <div class="form-group">
      <label class="sr-only" for="email">{{ 'KEY_EMAIL' | translate }}</label>
      <input ng-model="authCtrl.user.email"
             type="text"
             class="form-control" id="email" placeholder="{{ 'KEY_EMAIL' | translate }}">
    </div>

    <div class="form-group">
      <label class="sr-only" for="password">{{ 'KEY_PASSWORD' | translate}}</label>
      <input ng-model="authCtrl.user.password"
             type="password" class="form-control" id="password"
             placeholder="{{ 'KEY_PASSWORD' | translate}}">
    </div>

    <button type="submit" class="btn btn-success-outline">{{ 'KEY_LOGIN' | translate }}</button>

  </form>

</md-card>
