<md-card class="md-margin">

  <div ng-show="authCtrl.error" class="md-padding">
    <span>{{ authCtrl.error.message }}</span>
  </div>

  <form ng-submit="authCtrl.login()" class="md-padding">

    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input ng-model="authCtrl.user.email"
             type="text"
             class="form-control" id="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input ng-model="authCtrl.user.password"
             type="password" class="form-control" id="password"
             placeholder="Password">
    </div>

    <!--
    <md-input-container class="md-block md-accent" flex-gt-sm>
      <label>email</label>
      <input type="email" ng-model="authCtrl.user.email">
    </md-input-container>

    <md-input-container class="md-block md-accent" flex-gt-sm>
      <label>password</label>
      <input type="password" placeholder="Password" ng-model="authCtrl.user.password">
    </md-input-container>
    -->

    <!--<md-button class="md-accent md-raised" type="submit">Login</md-button>-->
    <button type="submit" class="btn btn-primary-outline">Login</button>
  </form>

</md-card>
