  <br/>
  <div ng-repeat="topic in topics | orderBy:'-created'">

    <div class="card">
      <div class="card-title card-block">

        <!-- Type -->
        <span class="pull-left">
          <i ng-if="topic.type == 'review'"   class="fa fa-pencil-square-o fa-x"></i>
          <i ng-if="topic.type == 'question'" class="fa fa-question-circle fa-x"></i>
          <i ng-if="topic.type == 'topic'"    class="ion-chatbubble-working"></i>
          {{ topic.type }}
        </span>


        <!-- Language -->
        <span class="text-muted">
          <small>
            <a ui-sref="category({Slug: topic.category })">
              {{ topic.category }}
            </a>
          </small>
        </span>

        <small class="pull-right">
          <span>
            <i class="ion-ios-clock-outline"></i>
            <span am-time-ago="topic.created"></span>
          </span>
          &nbsp;
          &bull;
          <a ng-hide="topic.followers[topicCtrl.uid]" ng-click="topicCtrl.followTopic(topic)"
             aria-label="Follow" class="hand"> Follow {{topic.followers.count || '0'}}</a>
          <a ng-show="topic.followers[topicCtrl.uid]" ng-click="topicCtrl.unfollowTopic(topic)"
             class="red-font ion-plus-round" aria-label="Follow"> Unfollow {{topic.followers.count || '0'}}</a>
        </small>
      </div>


      <!-- Title -->
      <div class="card-block">
        <h4 class="card-title">
          <a  href="/#/{{(topic.slug | decodeURI)}}"
              class="purple-light-font">
            {{topic.topic | decodeURI}}
          </a>
        </h4>
        <p class="card-text">

          <!-- body text-->
          {{topic.body | limitTo: 140 }}

          <!-- Tags -->
          <div ng-if="topic.tags">
            <span ng-repeat="tag in topic.tags track by $index">
              <a ui-sref="tag({Tag: tag.text})">
                #{{tag.text}}
              </a>
            </span>
          </div>
        </p>
      </div>


      <!-- If there is location-->
      <div ng-if="topic.location.name">
        <p class="md-subheader">
          <a ui-sref="places({place_slug: topic.location.slug,
                              place_id: topic.location.place_id})">
            {{topic.location.name}}
          </a>
        </p>

        <img
          class="img-fluid"
          src="https://maps.googleapis.com/maps/api/staticmap?size=600x160&maptype=roadmap&zoom=13
            &markers=color:purple%7Clabel:S%7C{{topic.location.lat}},{{topic.location.lng}}">
      </div>


      <!-- Photos -->
      <div ng-if="topic.photos" class="card-img">
        <flex-slider flex-slide="photo in topic.photos">
          <li>
            <img ng-src="{{photo}}" class="img-fluid" alt="Washed Out">
          </li>
        </flex-slider>
      </div>


      <!-- If there is review -->
      <div ng-if="topic.review" class="card-block">
        <review-score review="topic.review"></review-score>
      </div>


      <!-- Writer -->
      <div class="card-block">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-circle"
                   ng-src="{{topic.photo }}"
                   width="32px" />
            </a>
          </div>
          <div class="media-body">
            <p class="media-heading">
              <small>
                <b>
                  <a ui-sref="profile({Name: topic.displayName })">
                    @{{ topic.displayName || "User"}}
                  </a>
                </b>
                <div>
                  <span class="text-muted">
                    {{ 'KEY_POSTED' | translate }}
                    {{ topicCtrl.users.profile(topic.uid).stat.posted.count }}
                  </span>

                  <span class="text-muted">
                    &bull;
                    {{ 'KEY_UPVOTED' | translate }}
                    {{ topicCtrl.users.profile(topic.uid).stat.upvoted.count }}
                  </span>

                  <span class="text-muted">
                    &bull;
                    {{ 'KEY_FOLLOWER' | translate }}
                    {{ topicCtrl.users.profile(topic.uid).stat.follower.count }}
                  </span>
                </div>
              </small>
            </p>
          </div>
        </div>
      </div>

      <small>
        <topic-actions-card topic='topic'></topic-actions-card>
      </small>

    </div>
  </div>
