<md-card-actions layout="row" layout-align="start center">
	<md-card-icon-actions>
	  <md-button ng-hide="topic.upvotes[topicCtrl.uid]" ng-click="topicCtrl.upvote(topic)" class="ion-chevron-up" aria-label="Upvote"> Upvote 268</md-button>

	  <md-button ng-show="topic.upvotes[topicCtrl.uid]" ng-click="topicCtrl.cancelUpvote(topic)" class="md-primary md-raised ion-chevron-up" aria-label="Upvote"> Upvoted 269</md-button>

	  <md-button ng-hide="topic.downvotes[topicCtrl.uid]" ng-click="topicCtrl.downvote(topic)" class="ion-chevron-down" aria-label="Upvote"> Downvote 59</md-button>
	  <md-button ng-show="topic.downvotes[topicCtrl.uid]" ng-click="topicCtrl.cancelDownvote(topic)" class="md-primary md-raised md-hue-2 ion-chevron-down" aria-label="Upvote"> Downvoted 60</md-button>

	  <md-button class="ion-chatbubble-working"     aria-label="Comments"> Comments 2 </md-button>
	  <md-button class="ion-share"     aria-label="Share"> Share </md-button>
	</md-card-icon-actions>
</md-card-actions>