      <div ng-repeat="topic in topics track by $index | orderBy:'-created'">
        <md-card class="md-whiteframe-2dp">
          <md-card-title>
            <md-card-title-text>
              <small>
                <i class="ion-ios-clock-outline"></i>
                <span am-time-ago="topic.created"></span>
              </small>
              <span class="md-title text-center">
                <a ui-sref="topic({Slug: topic.slug, Key: topic.$id })">{{topic.topic}}</a>
              </span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <p>
              {{topic.body}}
            </p>
          </md-card-content>

          <div ng-if="topic.photos" ng-repeat="photo in topic.photos">
            <img ng-src="{{photo}}" class="md-card-image" alt="Washed Out">
          </div>


          <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions>

              <md-button ng-hide="topicCtrl.isUpvoted(topic.$id)" ng-click="topicCtrl.upvote(topic.$id)" class="ion-chevron-up" aria-label="Upvote"> Upvoted 268</md-button>
              <md-button ng-show="topicCtrl.isUpvoted(topic.$id)" ng-click="topicCtrl.upvote(topic.$id)" class="md-primary md-raised ion-chevron-up" aria-label="Upvote"> Upvoted 269</md-button>

              <md-button ng-hide="topicCtrl.isDownvoted(topic.$id)" ng-click="topicCtrl.downvote(topic.$id)" class="ion-chevron-down" aria-label="Upvote"> Downvoted 59</md-button>
              <md-button ng-show="topicCtrl.isDownvoted(topic.$id)" ng-click="topicCtrl.downvote(topic.$id)" class="md-primary md-raised md-hue-2 ion-chevron-down" aria-label="Upvote"> Downvoted 60</md-button>

              <md-button class="ion-chatbubble-working"     aria-label="Comments"> Comments 2 </md-button>
              <md-button class="ion-share"     aria-label="Share"> Share </md-button>
            </md-card-icon-actions>
          </md-card-actions>

        </md-card>
      </div>