<!-- topic action card-->

<span class="text-muted">
  <a ng-hide="topic.upvotes[topicCtrl.uid]" ng-click="topicCtrl.upvote(topic)"
     class="layout-padding hand purple-light-font ion-chevron-up"
     aria-label="Upvote">  {{ 'KEY_UPVOTE' | translate }} </a>
  <a ng-show="topic.upvotes[topicCtrl.uid]"
     ng-click="topicCtrl.cancelUpvote(topic)"
     class="card-link md-primary md-raised ion-chevron-up hand"
     aria-label="Upvote"> {{ 'KEY_UPVOTED' | translate }} </a>
</span>
&nbsp;
<span class="text-muted">
  <a ng-hide="topic.downvotes[topicCtrl.uid]"
     ng-click="topicCtrl.downvote(topic)"
     class="purple-light-font ion-chevron-down hand"
     aria-label="Downvotw"> {{ 'KEY_DWN_VOTE' | translate }}</a>
  <a ng-show="topic.downvotes[topicCtrl.uid]"
     ng-click="topicCtrl.cancelDownvote(topic)"
     class="red-font ion-chevron-down hand"
     aria-label="Downvote"> {{ 'KEY_DWN_VOTED' | translate }}</a>
</span>
&nbsp;
<span class="text-muted">
  <a class="purple-light-font ion-chatbubble-working"
     aria-label="Comments">
    {{ 'KEY_COMMENTS' | translate }}
    {{topic.replies.count || 0}}
  </a>
</span>


