<div ui-view="header"></div>

<div class="container margin-top  animated slideInUp">

<section class="gray-background">

  <div class="col-sm-4">
    <h5>{{ 'KEY_YOUR_ACCOUNT' | translate }}</h5>
    <div class="list-group" ng-controller="AuthCtrl as authCtrl">
      <a ng-click="profileCtrl.editInit='userEdit'"
         class="list-group-item hand">{{ 'KEY_ED_PROFILE' | translate }}</a>
      <a ng-click="profileCtrl.editInit='passwordEdit'"
         class="list-group-item hand">{{ 'KEY_ED_CHG_PWD' | translate }}</a>
      <a href="#"
         class="list-group-item">Porta ac consectetur ac</a>
      <a ng-click="authCtrl.logout()" class="list-group-item hand">{{ 'KEY_LOGOUT' | translate }} </a>
    </div>
  </div>

  <div class="col-sm-8">
    <div ui-view="userEdit" ng-hide></div>
    <div ui-view="passwordEdit"></div>
  </div>

</section>

</div>
