<div class="gray-background">

  <div ui-view="header"></div>

  <div class="inner-container container margin-top animated slideInUp">

    <div class="card md-padding" ng-controller="TopicCtrl as topicCtrl">

      <!-- remove topic btn-->
      <div class="pull-right">
        <span ng-if="topicLandingCtrl.isOwner">
          <a class="btn btn-link">{{ 'KEY_REMOVE' | translate }}</a>
        </span>
      </div>

      <small>
        <div class="col-md-6">
          <i class="ion-ios-clock-outline"></i>
          <span am-time-ago="topicLandingCtrl.topicLanding[0].created"></span>
        </div>
        <div class="col-md-6">
          <i class="ion-android-bookmark"></i>
          <span ng-if="!topicLandingCtrl.isOwner"
                class="pull-right"
                ng-init="topic = topicLandingCtrl.topicLanding[0]">
            <button ng-hide="topic.followers.history[topicCtrl.uid]"
                    ng-click="topicCtrl.followTopic(topic)"
                    class="btn btn-link mint-font ion-plus-round"
                    aria-label="Follow"> Follow {{topicLandingCtrl.followers.count || '0' }}</button>
            <button
                    ng-show="topic.followers.history[topicCtrl.uid]"
                    ng-click="topicCtrl.unfollowTopic(topic)" class="purple-light-font ion-plus-round" aria-label="Follow"> Unfollow {{topicLandingCtrl.followers.count || '0' }}</button>
          </span>s
        </div>
      </small>

        <!-- Message Body -->
        <div class="md-padding">
          <h2>
            {{topicLandingCtrl.topicLanding[0].topic}}
          </h2>

          <span class="topic-reading-font lato-font"
             ng-bind-html="topicLandingCtrl.topicLanding[0].body | nl2br"></span>

          <div ng-repeat="photo in topicLandingCtrl.topicLanding[0].photos">
            <img ng-src="{{photo}}" class="img-fluid">
          </div>
        </div>

      <!-- Footer action -->
        <div class="container" >
          <div class="col-xs-6">
            <topic-actions-card topic='topicLandingCtrl.topicLanding[0]'></topic-actions-card>
          </div>
          <div class="col-xs-6 text-muted">
              views: {{topicLandingCtrl.views.count || '0' }}
              &bull;
              followers: {{topicLandingCtrl.followers.count || '0' }}
              <a ui-sref="category({Slug: topicLandingCtrl.topicLanding[0].category})">
                {{topicLandingCtrl.topicLanding[0].category}}
              </a>
          </div>
        </div>
    </div>


    <!-- Author section -->
    <div class="media card md-padding" ng-controller="TopicCtrl as topicCtrl">

      <div class="media-left">
        <a href="#">
          <img class="media-object img-circle"
               src="{{ topicCtrl.users.profile(topicLandingCtrl.topicLanding[0].uid).photo }}"
               width="32px" />
        </a>
      </div>

      <div class="media-body">

        <p class="media-heading">
            <b>
              <a ui-sref="profile({Name: topicCtrl.users.getDisplayName(topic.uid) })">
                @{{topicCtrl.users.getDisplayName(topicLandingCtrl.topicLanding[0].uid) || "User"}}
              </a>
            </b>
            | upvote reply 20 | upvote post 50
        </p>
        <small>
        <p>{{ topicCtrl.users.profile(topicLandingCtrl.topicLanding[0].uid).biography }}</p>
        </small>
      </div>

      <div class="media-right" ng-if="!topicLandingCtrl.isOwner">
          <user-follower-btn></user-follower-btn>
      </div>
    </div>

    <h5>{{ 'KEY_COMMENTS' | translate }}</h5>

    <!-- Reply form -->
    <div ng-controller="TopicCtrl as topicCtrl" ng-if="topicLandingCtrl.auth.getUid()">
      <div class="media card md-padding">
        <form ng-submit="topicCtrl.reply(topicLandingCtrl.topicLanding[0].$id)">
          <div class="media-left">
            <a href="#">
              <img ng-src="{{ topicCtrl.users.profile(topicLandingCtrl.auth.getUid()).photo }}"
                   class="img-circle" width="32px">
            </a>
          </div>
          <div class="media-body">
           <textarea ng-model="topicCtrl.newReply.body"
                     class="form-control"
                     placeholder="Write a comment"></textarea>
          </div>
          <div class="media-right">
            <button class="btn btn-primary" type="submit">{{ 'KEY_POST' | translate }}</button>
          </div>
        </form>
      </div>
    </div>


    <!-- Reply body list-->
    <div  ng-repeat="reply in topicLandingCtrl.replyList track by $index | orderBy:'-created' "
          ng-controller="TopicCtrl as topicCtrl">

      <div class="media card md-padding">
        <div class="media-left">
          <a href="#">
            <img ng-src="{{ topicCtrl.users.profile(reply.uid).photo }}"
                 class="img-circle" width="32px">
          </a>
        </div>
        <div class="media-body">
          <a ui-sref="profile({Name: topicCtrl.users.getDisplayName(reply.uid) })">
            {{ topicCtrl.users.profile(reply.uid).firstname }}
            {{ topicCtrl.users.profile(reply.uid).lastname }}
          </a>

          <span class="text-muted" am-time-ago="reply.created"></span>

          <div class="lead layout-padding">
            {{reply.body}}
          </div>

          <!-- footer action -->
          <div ng-if="topicLandingCtrl.auth.getUid()">
            <a ng-click="topicCtrl.replyContent[$index] = true">
              <i class="fa fa-reply"></i>
              {{ 'KEY_REPLY' | translate }} </a>
            <small>
              <a class="layout-padding hand purple-light-font ion-chevron-up" aria-label="Upvote"> Upvote 268</a>
              <a class="layout-padding hand purple-light-font ion-chevron-down" aria-label="Upvote"> Upvote 268</a>
              &hybull;
            </small>
          </div>
          <!-- end footer-->

          <!-- reply  in reply form-->
          <div class="media blockquote md-padding"
               ng-show="topicCtrl.replyContent[$index]"
               ng-init="topicCtrl.replyContent[$index] = false">

            <form ng-submit="topicCtrl.replyInReply(topicLandingCtrl.topicLanding[0].$id,reply.$id)"
                  ng-if="topicLandingCtrl.auth.getUid()">
              <img ng-src="{{ topicCtrl.users.profile(topicLandingCtrl.auth.getUid()).photo }}"
                   class="img-circle" width="32px">
              <a ui-sref="profile({Name: topicCtrl.users.getDisplayName(reply.uid) })">
                {{ topicCtrl.users.profile(reply.uid).firstname }}
                {{ topicCtrl.users.profile(reply.uid).lastname }}
              </a>
              <br>
              <div class="input-group">
                <input type="text" class="form-control"
                       ng-model="topicCtrl.replyInReply.body"
                       placeholder=" {{ 'KEY_WRITE_REPLY' | translate }}"
                       aria-describedby=" {{ 'KEY_WRITE_REPLY' | translate }}">
                    <span class="input-group-btn">
                      <button class="btn btn-primary-outline" type="submit">{{ 'KEY_POST' | translate }}</button>
                    </span>
              </div>
            </form>

          </div>

          <!-- reply in reply -->
          <div ng-repeat="inreply in topicLandingCtrl.inReplyArr[$index] | orderBy:'-created' ">
            <div class="media md-padding">
              <div class="media-left">
                <img ng-src="{{ topicCtrl.users.profile(inreply.uid).photo }}"
                     class="img-circle" width="32px">
              </div>
              <div class="media-body">
                <a ui-sref="profile({Name: topicCtrl.users.getDisplayName(reply.uid) })">
                  {{ topicCtrl.users.profile(reply.uid).firstname }}
                  {{ topicCtrl.users.profile(reply.uid).lastname }}
                </a>
                <span class="text-muted" am-time-ago="inreply.created"></span>
                <div class="lead">
                  {{ inreply.body }}
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>


  </div>


</div>
