<md-content>

  <div ui-view="header"></div>


  <section class="gray-background row">
    <div class="container">

  <div class="inner-container container-fluid md-padding margin-top">

    <div flex>
      <div layout="column" ng-controller="TopicCtrl as topicCtrl">
        <md-card class="md-whiteframe-3dp md-padding">
          <small>
            <i class="ion-ios-clock-outline"></i>
            <span am-time-ago="topicLandingCtrl.topicLanding[0].created"></span>
          </small>

          <!-- Message Body -->
          <section class="text-center">
            <span class="md-display-1">
              {{topicLandingCtrl.topicLanding[0].topic}}
            </span>
            <p class="md-padding">
              {{topicLandingCtrl.topicLanding[0].body}}
            </p>
            <div ng-repeat="photo in topicLandingCtrl.topicLanding[0].photos">
              <img ng-src="{{photo}}">
            </div>
          </section>

          <div layout="row" >
            {{ topicCtrl.userName(topicLandingCtrl.topicLanding[0].uid) }}
            <p>[views: {{topicLandingCtrl.views.count || '0' }}]</p>
            <p>[ followers: {{topicLandingCtrl.followers.count || '0' }} ]</p>
            <a ui-sref="category({Slug: topicLandingCtrl.topicLanding[0].category})">
              {{topicLandingCtrl.topicLanding[0].category}}
            </a>
          </div>

          <topic-actions-card topic='topicLandingCtrl.topicLanding[0]'></topic-actions-card>
        </md-card>
      </div>


      <!-- Reply form -->
      <div ng-controller="TopicCtrl as topicCtrl">
        <md-content class="md-whiteframe-2dp md-padding"  ng-if="topicCtrl.auth.ref.getAuth().uid">

          <form ng-submit="topicCtrl.reply(topicLandingCtrl.topicLanding[0].$id)">
            <md-list>
            <md-list-item class="md-3-line">
              <img ng-src="{{topicCtrl.profile.photo}}"
                   class="img-circle" width="36px">


              <md-input-container class="md-block" flex>
                <label>Your Comment</label>
                <textarea ng-model="topicCtrl.newReply.body" col
                          umns="1" rows="3"></textarea>
              </md-input-container>

              <!--<md-input-container class="md-block" >-->
              <md-button class="md-primary md-block md-mini" type="submit">submit</md-button>
              </md-list-item>
            </md-list>
          </form>
        </md-content>
      </div>

      <!-- Reply body list-->
      <div ng-repeat="reply in topicLandingCtrl.replyList">
        <md-card class="md-padding">
          <span am-time-ago="reply.created"></span>
          {{reply.body}}
        </md-card>
      </div>
    </div>

  </div>

    </div>
  </section>


</md-content>
