<div class="pos-f-t">

  <nav class="navbar navbar-fixed-top purple-background bg-inverse">
    <a class="navbar-brand" href="#">Qanya</a>
    <ul class="nav navbar-nav">


      <!--Notification -->
      <li class="nav-item" ng-if="authCtrl.profile.$id">
        <badge-notification notification="authCtrl.badgeValue" ></badge-notification>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref="dashboard">
          <i class="fa fa-home fa-1x white-font"></i>
          <span class="white-font">{{'KEY_HOME' | translate}}</span>
        </a>
      </li>
    </ul>


    <ul class="nav navbar-nav pull-right">

      <!-- Languages -->
      <li class="nav-item">
        <a class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-globe fa-1x white-font"></i>
          <span class="white-font">{{ 'KEY_LANGUAGES' | translate }}</span>
          <span class="caret"></span>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item purple-light-font hand"
             ng-click="authCtrl.toggleLang('ไทย')">
            <span class="purple-light-font">ไทย</span>
          </a>
          <a class="dropdown-item purple-light-font hand"
             ng-click="authCtrl.toggleLang('Eng')">
            <span class="purple-light-font">English</span>
          </a>
        </div>
      </li>


      <!-- Trending -->
      <li class="nav-item active">
        <a class="nav-link" ui-sref="trending"> {{ 'KEY_TRENDING' | translate }} </a>
      </li>


      <!-- Dashboard -->
      <li class="nav-item">
        <a class="nav-link hand" ng-click="authCtrl.toggleRight()">
          <i class="ion-grid"></i>
            <span class="white-font">
              {{ 'KEY_DASHBOARD' | translate }}
            </span>
        </a>
      </li>


      <!-- If user not login -->
      <li class="nav-item" ng-if="!authCtrl.profile.$id">
        <a class="nav-link" ui-sref="register">
          <span class="white-font">
            {{ 'KEY_REGISTER' | translate }}
          </span>
        </a>
      </li>
      <li class="nav-item" ng-if="!authCtrl.profile.$id">
        <a class="nav-link" ui-sref="login">
          <span class="white-font">
            {{ 'KEY_LOGIN' | translate }}
          </span>
        </a>
      </li>
    </ul>
  </nav>

</div>
