<div class="pos-f-t">
  <div class="purple-background">
    <header class="navbar navbar-light navbar-static-top bd-navbar container" role="banner">

      <div class="clearfix purple-background white-font">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
          &#9776;
        </button>
        <a class="navbar-brand hidden-sm-up" ui-sref="home">
          <span class="white-font">
            qanya.com
          </span>
        </a>
      </div>


      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <ul class="nav navbar-nav">
          <li class="">
            <a class="nav-item nav-link navbar-brand" ui-sref="home">
            <span class="white-font">
              qanya.com
            </span>
          </a>
          </li>


          <div class="pull-right" style="width:50%">

            <li>
              <a class="nav-item nav-link pull-right" ng-click="authCtrl.toggleRight()">
              <i class="ion-grid white-font"></i>
              <span class="white-font">
                {{ 'KEY_DASHBOARD' | translate }}
              </span>
              </a>
            </li>

            <!-- Languages -->
            <li class="dropdown nav-item ">

              <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-globe fa-1x white-font"></i>
                <span class="white-font">{{ 'KEY_LANGUAGES' | translate }}</span>
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item purple-light-font"
                   ng-click="authCtrl.toggleLang('ไทย')">
                  <span class="purple-light-font">ไทย</span>
                </a>
                <a class="dropdown-item purple-light-font"
                   ng-click="authCtrl.toggleLang('Eng')">
                  <span class="purple-light-font">English</span>
                </a>
              </div>

            </li>

            <!-- If user is logged in -->
            <div ng-if="authCtrl.profile.$id">

              <li>
                <a class="nav-item nav-link" ui-sref="dashboard">
                  <i class="fa fa-home fa-1x white-font"></i>
                  <span class="white-font">{{'KEY_HOME' | translate}}</span>
                </a>
              </li>

              <li>
                <a class="nav-item nav-link" ui-sref="profile({Name:authCtrl.profile.displayName})">
                  <img ng-if="authCtrl.profile.photo" ng-src="{{authCtrl.profile.photo}}" class="img-circle" width="32px">
                  <span class="white-font">
                    {{authCtrl.profile.displayName}}
                  </span>
                </a>
              </li>

              <li>
                <a class="nav-item nav-link" ui-sref="dashboard">
                  <i class="fa fa-cog white-font"></i>
                </a>
              </li>
            </div>

            <span ng-if="!authCtrl.profile.$id">
              <a class="nav-item nav-link" ui-sref="register">
                <span class="white-font">
                  {{ 'KEY_REGISTER' | translate }}
                </span>
              </a>
              <a class="nav-item nav-link" ui-sref="login">
                <span class="white-font">
                  {{ 'KEY_LOGIN' | translate }}
                </span>
              </a>
            </span>
            </div> <!-- end pull right -->
        </ul>
      </div>
    </header>
  </div>
</div>
